@import url(https://fonts.googleapis.com/css?family=Black+Ops+One);
h1{
    text-align: center;
    color: tomato;
    font-family:'Black Ops One'
}
h2{
    text-align: center;
    color: tomato;
    font-family:'Black Ops One';
}
img{
    width: 25%;
    height: 40%;
}
p{
    color: tomato;
    text-align: center;
    font-family:'Black Ops One'
}
.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  background-color: tomato;
  padding: 15px 30px;
}
.logo {
  font-family: 'Black Ops One';
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}
.nav-links {
  display: flex;
  list-style: none; 
}
.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
  font-family: 'Black Ops One';
}

.nav-links a:hover {
  color: #04AA6D; 
}
